/* DEFAULT */
footer {    
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Inter", sans-serif;
    vertical-align: baseline;
}
ul {
    list-style: none;
}
.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .flex__center {
    display: flex;
    align-items: center;
  }
  
  .flex__center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .flex__col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  .width-full {
    width: 100%;
  }
  
  .height-full {
    height: 100%;
  }
/* RESPONSIVE CSS */
.footer__div {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  .footer__p {
    width: 100%;
  }

  .footer__content {
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: start;
    gap: 4rem;
  }

  .footer-copyright {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  .footer-copyright h1 {
    font-size: 1rem;
    line-height: 185%;
  }
@media screen and (min-width: 500px) {
  .container {
    max-width: 540px;
  }

  .menu {
    display: none;
  }

  .nav__ul li .cart-mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 680px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1040px !important;
  }
}
/* DEFAULT */
/* DEFAULT */
footer {    
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Inter", sans-serif;
  vertical-align: baseline;
}
ul {
  list-style: none;
}
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.flex__center {
  display: flex;
  align-items: center;
}

.flex__center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex__col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}
/* RESPONSIVE CSS */
.footer__div {
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.footer__p {
  width: 100%;
}

.footer__content {
  grid-template-columns: 1fr;
  width: 100%;
  justify-items: start;
  gap: 4rem;
}

.footer-copyright {
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.footer-copyright h1 {
  font-size: 1rem;
  line-height: 185%;
}
@media screen and (min-width: 500px) {
.container {
  max-width: 540px;
}

.menu {
  display: none;
}

.nav__ul li .cart-mobile {
  display: none;
}
}

@media screen and (min-width: 768px) {
.container {
  max-width: 680px;
}
}

@media screen and (min-width: 992px) {
.container {
  max-width: 900px;
}
}

@media screen and (min-width: 1200px) {
.container {
  max-width: 1040px !important;
}
}
/* DEFAULT */
.footer {
  width :100%;
  height :auto;
  background-color: #f7f7f7;
  padding: 4rem ;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.footer-brand{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__h1{
  font-size :2rem;
  font-weight: 700;
  color: black;
}
.footer__p{
  font-size: 15px;
  font-weight: 400;
  color: black;
  line-height: 160%;
  width: 60%;
}
.footer_content{
  grid-template-columns: 1fr;
  width: 100%;
  justify-items: start;
  row-gap: 4rem;
  column-gap: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  column-gap: 0;
  width: 70%;
}
.footer__content-item{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
.footer__content-item h1{
  font-size: 20px;
  color: orange;
  font-weight: 400;
}
.footer__content-item ul li {
  font-size: 15px;
  color: black;
  font-weight: 400;
}
.footer__content-item ul {
  margin-left: -35px;
}
.footer-copyright h1 {
  font-size: 1rem;
  color: #1e2833;
  font-weight: 400;
}
.footer-copyright div {
  display: flex;
  gap: 2rem;
}


  
